<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="static/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <title>About</title>
  </head>
  <body style="background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%)">
    <nav
      class="navbar navbar-expand-lg p-md-3"
      style="background-color: #03533c"
      data-bs-theme="dark"
    >
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a
            class="navbar-brand"
            style="font-size: larger; font-weight: bold"
            href="/"
            >PhishCatch</a
          >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/about"
                >About</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <p
      class="font-monospace p-md-5"
      style="text-align: center; color: #03533c; font-size: larger"
    >
      This is a final year project performed at Sunyani Technical University
      under the supervission of <strong>MR. GODFRED KUSI FOSU</strong>
    </p>

    <div class="container-sm m-5" style="text-align: center">
      <h1 style="text-align: center; color: #03533c; padding: 3px">
        Project Team
      </h1>
      <div class="row row-cols-1 row-cols-md-6 g-4 justify-content-center">
        <div class="col">
          <div class="card">
            <img src="static/images/sam.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Avike Apusiyine Samuel</h5>
              <p class="card-text">...........</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="static/images/abdallah.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Issifu Abdallah</h5>
              <p class="card-text">........</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="static/images/martina.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Daawumi Martina</h5>
              <p class="card-text">...................</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="static/images/deborah.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Aberire Deborah</h5>
              <p class="card-text">...................</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
